.uploadTitle {
  text-Align: center;
  font-size: 60px;
  color: black;
}

#uploadForm {
    width: 750px; 
    height: 60vh;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border: 1px white solid;
    border-radius: 20px;
    box-shadow: 0px 69px 114px rgba(124, 20, 253, 0.08);
}

#uploadForm #uploadProblem {
  width: 90%;
  margin-left: -7px;

}

#uploadForm label {
  font-size: 10px;
  font-weight: bold;  
}


.purplerec{
  width: 100%;
  height: 6px;
  background: #B070FF;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  top: 0%;
  left: 50%; /* 가로 중앙에 위치 */
  transform: translateX(-50%);
}

#UploadProblem {
  width: 90%;
  position: absolute;
}

#uploadForm ol {
  list-style-type: none;
  margin-left: -40px;  
}

#uploadForm li {
  margin-bottom: 25px;
  border-radius: 15px;
  background:#FAF6FF;
  box-shadow: 0 0 0px 10px #FAF6FF, 0 0 0px 10px #FAF6FF;
}

