.backGround {
    position: relative;
    height: 100vh; /* 화면 높이를 100%로 설정 */
    overflow: hidden; /* 자식 요소들이 넘치는 경우 숨김 */

    /* 배경 이미지 설정 */
    background-image: url("../../asset/image/background_image.PNG");
    background-size: cover;
    background-position: center;

}