#uploadButton {
    position: fixed;
    width: 90px;
    height: 60px;
    font-size: 20px;
    left: 5px;
    top: 10px;
    background-color: white;
    border: solid 1px #3AAF46;
    border-radius: 10px;
}

#signout {
    width: 80px;
    height: 60px;
    font-size: 20px;
    position: fixed;
    right: 70px;
    top: 10px;
    background-color: white;
    border: solid 1px #3AAF46;
    border-radius: 10px;
}

#user {
    position: fixed;
    right:5px;
    top: 20px;
    font-size: 20px;    
}